# Import Libraries & Load Dataset

In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('dataset/ecommerce_data.csv')

In [4]:
df.head(10)

,customer_id,first_name,last_name,gender,age_group,signup_date,country,product_id,product_name,category,quantity,unit_price,order_id,order_date,order_status,payment_method,rating,review_text,review_id,review_date
0,CUST2353,Erica,Oliver,Female,Teenagers,2022-06-29,Canada,PROD108,Fitbit Versa 3,Electronics,3,229,ORD10000,2023-07-13,Pending,Credit Card,2,good,REV20000,2025-06-06
1,CUST4463,Christopher,White,Male,Adults,2023-08-24,China,PROD103,Levi's Jeans,Apparel,4,59,ORD10001,2024-08-12,Pending,PayPal,2,average,REV20001,2023-08-05
2,CUST4512,Spencer,Foster,Male,Senior,2023-07-18,Germany,PROD111,Lego Star Wars Set,Toys,2,59,ORD10002,2024-08-04,Delivered,Cash on Delivery,5,good,REV20002,2023-01-03
3,CUST5711,Jessica,Harris,Male,Teenagers,2025-08-22,France,PROD107,Dyson Vacuum,Home & Kitchen,4,399,ORD10003,2025-05-23,Delivered,Cash on Delivery,2,very good,REV20003,2023-03-14
4,CUST1296,Amy,Johnson,Female,Teenagers,2021-03-23,Brazil,PROD105,Adidas Running Shoes,Apparel,1,110,ORD10004,2023-07-02,Returned,Cash on Delivery,1,very good,REV20004,2023-10-18
5,CUST2790,Shelby,Sutton,Other,Adults,2025-07-18,Canada,PROD108,Fitbit Versa 3,Electronics,5,229,ORD10005,2023-04-13,Returned,PayPal,3,very good,REV20005,2023-02-14
6,CUST2442,Jennifer,Baxter,Female,Senior,2023-11-30,France,PROD106,Instant Pot,Home & Kitchen,1,99,ORD10006,2023-12-31,Returned,Credit Card,4,very good,REV20006,2023-12-29
7,CUST2451,Barbara,Hansen,Female,Adults,2024-11-10,UK,PROD103,Levi's Jeans,Apparel,2,59,ORD10007,2024-01-29,Pending,Credit Card,1,very good,REV20007,2025-06-02
8,CUST2364,Mary,Guzman,Female,Adults,2023-10-30,China,PROD102,Sony Headphones,Electronics,5,199,ORD10008,2022-11-30,Shipped,Credit Card,3,bad,REV20008,2024-06-10
9,CUST4713,Richard,Bell,Other,Teenagers,2024-11-11,Brazil,PROD107,Dyson Vacuum,Home & Kitchen,4,399,ORD10009,2025-05-16,Cancelled,PayPal,5,very good,REV20009,2024-12-03

In [5]:
df.shape

(10000, 20)

# Data Inspection

In [6]:
df.isnull().sum()

customer_id       0
first_name        0
last_name         0
gender            0
age_group         0
signup_date       0
country           0
product_id        0
product_name      0
category          0
quantity          0
unit_price        0
order_id          0
order_date        0
order_status      0
payment_method    0
rating            0
review_text       0
review_id         0
review_date       0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(0)

In [9]:
df.describe(include='all')

,customer_id,first_name,last_name,gender,age_group,signup_date,country,product_id,product_name,category,quantity,unit_price,order_id,order_date,order_status,payment_method,rating,review_text,review_id,review_date
count,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000.000000,10000.000000,10000,10000,10000,10000,10000.000000,10000,10000,10000
unique,4327,573,904,3,3,1657,10,15,15,6,NaN,NaN,10000,1096,5,3,NaN,5,10000,1096
top,CUST1244,Michael,Smith,Other,Teenagers,2024-10-13,France,PROD107,Dyson Vacuum,Electronics,NaN,NaN,ORD10000,2024-11-13,Shipped,Cash on Delivery,NaN,very good,REV20000,2024-04-26
freq,9,268,195,3403,3359,27,1060,730,730,2616,NaN,NaN,1,19,2063,3409,NaN,2067,1,23
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000800,246.647200,NaN,NaN,NaN,NaN,2.993100,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.416474,282.605391,NaN,NaN,NaN,NaN,1.410621,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,25.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,80.000000,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,129.000000,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,229.000000,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,999.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     10000 non-null  object
 1   first_name      10000 non-null  object
 2   last_name       10000 non-null  object
 3   gender          10000 non-null  object
 4   age_group       10000 non-null  object
 5   signup_date     10000 non-null  object
 6   country         10000 non-null  object
 7   product_id      10000 non-null  object
 8   product_name    10000 non-null  object
 9   category        10000 non-null  object
 10  quantity        10000 non-null  int64
 11  unit_price      10000 non-null  int64
 12  order_id        10000 non-null  object
 13  order_date      10000 non-null  object
 14  order_status    10000 non-null  object
 15  payment_method  10000 non-null  object
 16  rating          10000 non-null  int64
 17  review_text     10000 non-null  object
 18  review_id       10000 non-null  object
 19  review_date     10000 non-null  object
dtypes: int64(3), object(17)
memory usage: 1.5+ MB

In [15]:
# Fill missing text values with 'Unknown'
df=df.fillna({
    'country': 'Unknown',
    'category': 'Unknown',
    'payment_method': 'Unknown'
})

# If any numeric column has missing values
for col in df.select_dtypes(include=['int64', 'float64']).columns:
    df[col].fillna(df[col].median(), inplace=True)

C:\Users\devam\AppData\Local\Temp\ipykernel_10144\1594988240.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\devam\AppData\Local\Temp\ipykernel_10144\1594988240.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\devam\AppData\Local\Temp\ipykernel_10144\1594988240.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)

# Fix Data Types

In [16]:
# Convert date columns
date_cols = ['signup_date', 'order_date', 'review_date']
for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors='coerce')

In [17]:
# Convert category-type columns to 'category'
cat_cols = ['gender', 'age_group', 'country', 'category', 'payment_method', 'order_status']
for col in cat_cols:
    df[col] = df[col].astype('category')

# Feature Engineering

In [18]:
df['Total_Sales'] = df['quantity'] * df['unit_price']

In [19]:
df['Profit'] = df['Total_Sales'] * 0.2

In [20]:
df['Profit_Margin_%'] = (df['Profit'] / df['Total_Sales']) * 100

In [21]:
df['Order_Year'] = df['order_date'].dt.year
df['Order_Month'] = df['order_date'].dt.month_name()
df['Order_Day'] = df['order_date'].dt.day

In [22]:
df['Customer_Name'] = df['first_name'] + ' ' + df['last_name']

# Remove Invalid or Extreme Values

In [23]:
# Remove rows where quantity or price <= 0
df = df[(df['quantity'] > 0) & (df['unit_price'] > 0)]

# Cap extreme Total_Sales (optional)
df = df[df['Total_Sales'] < df['Total_Sales'].quantile(0.99)]

# Clean Category Values

In [24]:
df['category'] = df['category'].str.title().str.strip()
df['country'] = df['country'].str.title().str.strip()

# Save Dataset

In [26]:
# Save to new CSV
df.to_csv("dataset/ecommerce_cleaned.csv", index=False)

print("✅ Data cleaning complete! Cleaned file saved as 'ecommerce_cleaned.csv'")

✅ Data cleaning complete! Cleaned file saved as 'ecommerce_cleaned.csv'

In [27]:
df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
Index: 9876 entries, 0 to 9999
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      9876 non-null   object
 1   first_name       9876 non-null   object
 2   last_name        9876 non-null   object
 3   gender           9876 non-null   category
 4   age_group        9876 non-null   category
 5   signup_date      9876 non-null   datetime64[ns]
 6   country          9876 non-null   object
 7   product_id       9876 non-null   object
 8   product_name     9876 non-null   object
 9   category         9876 non-null   object
 10  quantity         9876 non-null   int64
 11  unit_price       9876 non-null   int64
 12  order_id         9876 non-null   object
 13  order_date       9876 non-null   datetime64[ns]
 14  order_status     9876 non-null   category
 15  payment_method   9876 non-null   category
 16  rating           9876 non-null   int64
 17  review_text      9876 non-null   object
 18  review_id        9876 non-null   object
 19  review_date      9876 non-null   datetime64[ns]
 20  Total_Sales      9876 non-null   int64
 21  Profit           9876 non-null   float64
 22  Profit_Margin_%  9876 non-null   float64
 23  Order_Year       9876 non-null   int32
 24  Order_Month      9876 non-null   object
 25  Order_Day        9876 non-null   int32
 26  Customer_Name    9876 non-null   object
dtypes: category(4), datetime64[ns](3), float64(2), int32(2), int64(4), object(12)
memory usage: 1.8+ MB

,customer_id,first_name,last_name,gender,age_group,signup_date,country,product_id,product_name,category,...,review_text,review_id,review_date,Total_Sales,Profit,Profit_Margin_%,Order_Year,Order_Month,Order_Day,Customer_Name
0,CUST2353,Erica,Oliver,Female,Teenagers,2022-06-29,Canada,PROD108,Fitbit Versa 3,Electronics,...,good,REV20000,2025-06-06,687,137.4,20.0,2023,July,13,Erica Oliver
1,CUST4463,Christopher,White,Male,Adults,2023-08-24,China,PROD103,Levi's Jeans,Apparel,...,average,REV20001,2023-08-05,236,47.2,20.0,2024,August,12,Christopher White
2,CUST4512,Spencer,Foster,Male,Senior,2023-07-18,Germany,PROD111,Lego Star Wars Set,Toys,...,good,REV20002,2023-01-03,118,23.6,20.0,2024,August,4,Spencer Foster
3,CUST5711,Jessica,Harris,Male,Teenagers,2025-08-22,France,PROD107,Dyson Vacuum,Home & Kitchen,...,very good,REV20003,2023-03-14,1596,319.2,20.0,2025,May,23,Jessica Harris
4,CUST1296,Amy,Johnson,Female,Teenagers,2021-03-23,Brazil,PROD105,Adidas Running Shoes,Apparel,...,very good,REV20004,2023-10-18,110,22.0,20.0,2023,July,2,Amy Johnson
5,CUST2790,Shelby,Sutton,Other,Adults,2025-07-18,Canada,PROD108,Fitbit Versa 3,Electronics,...,very good,REV20005,2023-02-14,1145,229.0,20.0,2023,April,13,Shelby Sutton
6,CUST2442,Jennifer,Baxter,Female,Senior,2023-11-30,France,PROD106,Instant Pot,Home & Kitchen,...,very good,REV20006,2023-12-29,99,19.8,20.0,2023,December,31,Jennifer Baxter
7,CUST2451,Barbara,Hansen,Female,Adults,2024-11-10,Uk,PROD103,Levi's Jeans,Apparel,...,very good,REV20007,2025-06-02,118,23.6,20.0,2024,January,29,Barbara Hansen
8,CUST2364,Mary,Guzman,Female,Adults,2023-10-30,China,PROD102,Sony Headphones,Electronics,...,bad,REV20008,2024-06-10,995,199.0,20.0,2022,November,30,Mary Guzman
9,CUST4713,Richard,Bell,Other,Teenagers,2024-11-11,Brazil,PROD107,Dyson Vacuum,Home & Kitchen,...,very good,REV20009,2024-12-03,1596,319.2,20.0,2025,May,16,Richard Bell